{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "curly": ["error", "all"],
        "eqeqeq": ["error", "smart"],
        "brace-style": ["error", "stroustrup"],
        "operator-linebreak": ["error", "before"],
        "no-trailing-spaces": ["error", { "skipBlankLines": false }],
        "@typescript-eslint/interface-name-prefix": ["error", { "prefixWithI": "always" }],
        "@typescript-eslint/no-inferrable-types": "off"
    }
}